@import '../../../Variables/colors.module.scss';

.cardContainer {
    border-radius: 8px;
    cursor: pointer;
    height: 250px;
    width: 350px;
    position: relative;
    overflow: hidden;
    background-color: #3e3e3e;

}


